@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    text-align: center;
    font-weight: bolder;
}

a {
    color: white;
    font-weight: bolder;
}

a:hover {
    color: yellow;
}